#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=OpenRA - Red Alert .5
GenericName=Real Time Strategy Game
GenericName[de]=Echtzeit-Strategiespiel
Comment=OpenRA mod that tell the storyline between 1936 to Red Alert 1
Icon=openra-radot5
Exec=/home/fusion809/.local/bin/openra-radot5 %U
Terminal=false
Categories=Game;StrategyGame;RTSGame;OpenRA;
MimeType=x-scheme-handler/openra-radot5;
