#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=OpenRA - Shattered Paradise
GenericName=Real Time Strategy Game
GenericName[de]=Echtzeit-Strategiespiel
Comment=Reimagining of early Westwood Games
Icon=openra-sp
Exec=/home/fusion809/.local/bin/openra-sp %U
Terminal=false
Categories=Game;StrategyGame;RTSGame;OpenRA;
MimeType=x-scheme-handler/openra-sp;
