#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=OpenRA - Dune 2000
GenericName=Real Time Strategy Game
GenericName[de]=Echtzeit-Strategiespiel
Comment=Reimagining of early Westwood Games
Icon=openra-d2k
Exec=/home/fusion809/.local/bin/openra-d2k %U
Terminal=false
Categories=Game;StrategyGame;RTSGame;OpenRA;
MimeType=x-scheme-handler/openra-d2k;
